[submodule ".vim"]
	path = .vim
	url = https://github.com/sanguis/.vim.git
[submodule "vim"]
	path = vim
	url = https://github.com/sanguis/.vim.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh-custom/themes/spaceship-prompt"]
	path = zsh-custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
