[submodule ".vim"]
	path = .vim
	url = https://github.com/sanguis/.vim.git
[submodule "prezto"]
	path = prezto
  url  = https://github.com/sanguis/prezto.git
[submodule "vim"]
	path = vim
	url = https://github.com/sanguis/.vim.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
